name: Read FileVersion on Push

on:
  workflow_dispatch:

jobs:
  get-file-version:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Extract FileVersion via Node script
        run: |
          node .github/workflows/extract-version.js ./Dh.Updater.DebugConsole.exe
